/* IT23840782  W.M.D.N.Weerakoon */

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* --------Our Story------------ */
.banner {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

.story {
    color: rgb(159, 223, 222);
    padding: 10px 20px;
    width: 45rem;
    height : 14rem; 
    border: 1px solid #002b4c;
    background-color: #002b4c;
}
.story:hover{    /* changes style when cursor goes over the element*/
    color: white;
    border: 1px solid rgb(44, 62, 80);
    background-color: rgb(44, 62, 80);
}

.story h2 {
    margin-top : 5px;
    margin-bottom : 5px;
}

/* ------------Vission & Mission---------- */
.details {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.details div {
    width: 35%;
}

h4 {
    margin: 5px 0 5px 0;
}
.sub-details{
    margin-right: 10px;
    display: flex;
    justify-content: center;  /* align content horizontally */
    align-items: center;  /* align item vertically  */
}

/* -------------Our Values------------- */
#ourValues {
    text-align: center;
    margin: 30px 0 0;
}

.Values {
    display: flex;
    justify-content: center;
    gap: 55px;   /* gap between mission and vission */
    margin-top: 20px;
}

.Values div {
    /* width: 21%; */
    margin-bottom: 2%;
    
}

.Values p {
    margin: 0;
    line-height: 1.6;
}

.value1, .value2, .value3 {
    color:rgb(159, 223, 222);
    border:1px solid #002b4c;
    background-color: #002b4c;
    padding: 20px;
    width: 150px;
}

.value1:hover, .value2:hover, .value3:hover {
    color: white;
    border:1px solid rgb(44, 62, 80);
    background-color: rgb(44, 62, 80);
}






