.content{
    padding-top: 20px; 
    align-items: center;
}


.ongoing-box {
  border: 1px groove black;
  border-radius: 5px;
  width: 90%; 
  height: 100%;
  margin-bottom: 20px;
  background-color: #bbe5fa ;
  margin-top: 160px;
}

.session-details legend{
  font-weight: bold;
}

.session-details fieldset{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.session-details input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
}

#prescription-details{
  background-color: transparent;
  border: transparent;
  border-radius: 3px;
  width: 100%;
  height: 50vh;
  font-size: 20px;
  
}

.session{
  padding: 20px;
}

#submit{
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 25px;
  border-width: 3px;
  background-color: #A0E9FF;
  transition: 0.3s ease;
  float: right;
}

#submit:hover{
  background-color: #89CFF3;
  color: black;
}
