/* Sign-up Form Container */
.form-container {
    margin: 40px auto 0 auto;
    margin-bottom: 5vh;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    /* margin: 120px auto;  */
    text-align: left;
    border: 1px solid #ddd;
}

/* Form Elements Styling */
.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Date of Birth Input Alignment */
.dob-input {
    display: flex;
    justify-content: space-between;
}

.dob-input input {
    width: 30%;
}

/* Button Styling */
.form-container .signupBtn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form-container .signupBtn:hover {
    background-color: #555;
}

.form-container .signupBtn:active {
    background-color: #111;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }
}
