body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header.headerX {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    background-color: #002b4c;
    height: 90px;
    margin: 0;
    padding: 10px;
}

.tops{
    /*flex: 1; not necessary*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer.footerX{
    text-align: center;
    background-color: #8393ca;
    margin-top: auto;
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.logo {
    width: 80px;
    height: auto;
}

.profile{
    margin-right: 100px;
    display: flex;
    height: 80px;
}

.avatar{
    width: 80px;
    height: 80px;
    margin: 0;
}

.accInfo{
    padding-left: 5px;
    margin-top: 40px;
    width: 40px;
    font-weight: bold;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #8393ca;
}

.content{
    flex: 1;
    height: 100%;
    padding-top: 160px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/cloned.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

ul.options {
    float: left;  /*not necessary?*/
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

ul.options li {
    list-style: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul.options li a {
    text-decoration: none;
    display: block;
    height: 22px;
    padding: 14px 16px;
    margin: 0;
    color: #000000;
    font-weight: bold;
    transition: 0.3s ease;
}
   
ul.options li a:hover {
    background-color: #3fbcb9;
}

.active{
    background-color: #2fa6f3;
}

.signupBtn{
    margin-left: auto;
    margin-right: 138px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 25px;
    background-color: hsla(179, 50%, 49%, 0.5);
    transition: 0.3s ease;
}

.signupBtn:hover{
    background-color: #3fbcb9;
}

.signupBtn:active{
    background-color: #2fa6f3;
}